@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(245, 245, 245);
}

.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-c {
    display: flex;
    align-items: center;
}


.flex-wrap-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-wrap-sb-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}