@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #6f65f1;
    --primary-hover-color: #564bf4;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 245, 245);
}

.title-text {
   margin: 2rem 8.5rem;
}

.flex-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-c {
    display: flex;
    align-items: center;
}

.flex-jc {
    display: flex;
    justify-content: center;
}

.flex-wrap-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-wrap-sb-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}